body {
    background-color: #ffffff;
    font-family: Geologica, sans-serif;
    color: rgb(55, 55, 55);
}

h1 {
    font-family: Coiny, sans-serif;
    color: #ffffff;
}

h2, h3 {
    font-family: Coiny, sans-serif;
    color: #3312C3;
    text-transform: uppercase;
}

h4 { /* REVIEWS */
    font-family: Geologica, sans-serif;
    color: #000;
    font-size: 20px;
}

h5 { /* NEWSLETTER */
    font-family: Coiny, sans-serif;
    color: #3312C3;
    text-transform: uppercase;
}

h6 { /* FOOTER */
    font-family: Coiny, sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: lighter;
}

.jumbotron {
    margin: 0;
    padding: 30px;
    background-image: linear-gradient(to bottom, rgba(130, 134, 155, 0.93), #1f0b78), url("/img/rp-storefront.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    background-color: #3312C3;
    color: white;
}

a {
    color: #fff;
}

a:hover {
    color: #3312C3;
    text-decoration: none;
    transition: 0.7s;
}

footer {
    margin: 0;
    padding: 30px;
    background-image: linear-gradient(to right, #a00443, #d73d7a, #f3aeca);
    color: white;
}

#didYouKnow {
    background-color: #f86aa3;
    color: #fff; 
}

#aboutRP {
    background-color: #f86aa3;
    color: #fff; 
}



.pink-button {
    background-color: #F8438C;
    color: #fff;
    border-radius: 8px;
    border: 0;
    padding: 12px 28px;
}

.pink-button:hover {
    background-color: #F8438C;
    color: #3312C3;
    transition: 0.7s;
}

nav {
    font-family: Coiny, sans-serif;
    color: #3312C3;
    text-transform: uppercase;
    font-size: 18px;
    background-color: #fff;
}

.nav-link {
    color: #3312C3 !important; 
}

.nav-link:hover {
    color: #F8438C !important; 
}

.blue-button {
    background-color: #3312C3;
    color: #fff !important;
    border-radius: 8px;
    padding: 12px 15px !important;
    border: 0;
    font-size: 20px !important; 
}

.blue-button:hover {
    background-color: #3312C3;
    color: #F8438C;
    transition: 0.7s;
}

.popup {
    background-color: #ffffff;
    width: 450px;
    padding: 30px 40px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 60%;
    border-radius: 35px;
    display: none;
    text-align: center;
    border-width: 8px;
    border-color: #F8438C;
    border-style: solid;
}

.popup p {
    font-size: 14px;
    margin: 20px 0;
    text-align: left;
    line-height: 18px;
}

#close {
    background-color: #3312C3;
    color: #fff;
    border-radius: 8px;
    padding: 10px 15px;
    border: 0;
}

.carousel-caption {
    background-color: rgba(84, 84, 84, 0.5);
}

.merchLink a { /* Selects link in the class merchLink */
    color: #3312C3;
}

.merchLink a:hover { 
    transition: 0.7s;
    color: #F8438C;
}

#fullMenu h3 {
    color: #F8438C; 
}

hr {
    height: 3px;
    background-color:#3312C3;
    border-radius: 15px;
}

#fullMenu span {
    color: #8a8a8a
}

.contactPhone a { /* Selects link in the class contactPhone in contact.html */
    color: #000000;
}

.contactPhone a:hover { 
    text-decoration: underline;
}

.navSocial a {
    color: #3312C3;  
}

.navSocial a:hover {
    color: #F8438C;  
}

.navbar-nav .active {
    color: #F8438C !important;     
}