body {
    background-color: #ffffff;
    font-family: Geologica, sans-serif;
    color: rgb(55, 55, 55);
}

h1 {
    font-family: Coiny, sans-serif;
    color: #ffffff;
}

h2, h3 {
    font-family: Coiny, sans-serif;
    color: #3312C3;
    text-transform: uppercase;
}

h4 { /* REVIEWS */
    font-family: Geologica, sans-serif;
    color: #000;
    font-size: 20px;
}

h5 { /* NEWSLETTER */
    font-family: Coiny, sans-serif;
    color: #3312C3;
    text-transform: uppercase;
}

h6 { /* FOOTER */
    font-family: Coiny, sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: lighter;
}

.jumbotron {
    margin: 0;
    padding: 30px;
    background-image: linear-gradient(to bottom, rgba(105, 107, 121, 0.95), #1f0c74), url("/img/rp-storefront.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    background-color: #270e97;
    color: white;
}

a {
    color: #240d8a;
}

a:hover {
    color: #240d8a;
    text-decoration: underline;
}

footer {
    margin: 0;
    padding: 30px;
    background-image: linear-gradient(to right, #a00443, #d73d7a, #f3aeca);
    color: white;
}

#didYouKnow {
    background-color: #f86aa3;
    color: #fff; 
}

#aboutRP {
    background-color: #f86aa3;
    color: #fff; 
}

.blue-button {
    background-color: #3312C3;
    color: #fff;
    border-radius: 8px;
    padding: 12px 28px;
    border: 0;
}

.blue-button:hover {
    background-color: #3312C3;
    color: #F8438C;
    transition: 0.7s;
}

.pink-button {
    background-color: #F8438C;
    color: #fff;
    border-radius: 8px;
    padding: 12px 28px;
}

.pink-button:hover {
    background-color: #F8438C;
    color: #3312C3;
    transition: 0.7s;
}

nav {
    font-family: Coiny, sans-serif;
    color: #240d8a;
    text-transform: uppercase;
    font-size: 18px;
    background-color: #fff;
}

.popup {
    background-color: #fff;
    width: 450px;
    padding: 30px 40px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    border-radius: 8px;
    font-family: Geologica, sans-serif;
    display: none;
    text-align: center;
}

/* .popup button {
    display: block;
    margin:  0 0 20px auto;
    background-color: lightgray;
    font-size: 30px;
    color: #000;
    cursor: pointer;
} */

.popup p {
    font-size: 14px;
    margin: 20px 0;
    line-height: 25px;
    text-align: left;
}

#close {
    background-color: lightgray;
    color: #000;
    border-radius: 8px;
    padding: 10px 15px;
    border: 0;
}